:root {
	--accnt-2: #a0112f;
	--accnt-1: #117da9;
	--color-6: #fcfdfd;
	--color-5: #f2f3f3;
	--color-4: #bdbebe;
	--color-3: #898989;
	--color-2: #545454;
	--color-1: #383838;
	--color-0: #1f1f1f;
	--gap: 20px;
	--hgap: var(--gap);
	--vgap: 1rem;
	--typeface: 'karmina-sans', sans-serif;
	--transition: ease-in-out;
	--transtime: 300ms;
}

@media screen and (min-width: 40rem)
{
	:root { --hgap: calc(1.25 * var(--gap)) }
}

@media screen and (min-width: 60rem)
{
	:root { --hgap: calc(1.5 * var(--gap)) }
}

@media screen and (min-width: 100rem)
{
	:root { --hgap: calc(2 * var(--gap)) }
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: var(--typeface);
	scroll-behavior: smooth;
}

[hidden] {
	display: none;
	visibility: hidden;
}

body {
	margin: 0;
	background-color: var(--color-6);
}

@media screen and (min-width: 30rem)
{
	:root { font-size: 1.125em }
}

/* Shared */

header,
footer {
	padding: calc(var(--hgap) / 2);
	position: relative;
	display: flex;
}

.logo_link {
	display: block;
	line-height: 0;
}

.logo_link svg {
	display: block;
	height: 100%;
	max-height: calc(1.5 * var(--hgap));
}

.textwrapper {
	margin-bottom: calc(2 * var(--vgap));
	margin-left: var(--hgap);
	margin-right: var(--hgap);
}

.textwrapper h2,
.textwrapper h3 { margin-bottom: var(--vgap) }

.textwrapper h3 { font-weight: 600 }

.img_wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	line-height: 0;
}

.img_wrapper::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: '';
	background-color: var(--accnt-1);
	opacity: 0.25;
	mix-blend-mode: lighten;
}

.img_wrapper img {
	width: 100%;
	opacity: .95;
	filter:  brightness(110%) contrast(116%) grayscale(0%) hue-rotate(342deg) invert(0%) opacity(100%) saturate(84%) sepia(0%);
	mix-blend-mode: none;
}

@media screen and (min-width: 30rem)
{
	.textwrapper {
		margin-top: calc(2 * var(--vgap));
		margin-bottom: calc(2 * var(--vgap));
	}
}

@media screen and (min-width: 20rem)
{
	header,
	footer { padding: var(--hgap) }
}

@media screen and (min-width: 40rem)
{
	.logo_link svg { max-height: calc(1.5 * var(--hgap)) }
}

@media screen and (min-width: 60rem)
{
	.logo_link svg { max-height: calc(1.25 * var(--hgap)) }
}

/* Header */

header {
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: var(--color-6);
}

#header-logo {
	flex: 1 0 auto;
	margin: 0;
}

/* Navigation */

#menu_toggle { display: none }

nav svg {
	width: calc(2 * var(--gap));
	height: calc(2 * var(--gap));
	color: var(--color3);
	transition: color var(--transtime) linear;
}

nav svg:hover { color: var(--accnt-1) }

nav rect {
	transition: transform var(--transtime) var(--transition);
	transform-origin: 24px 20px;
}

nav ul {
	position: absolute;
	display: none;
	flex-flow: column nowrap;
	align-items: center;
	margin: auto;
	padding: calc(var(--hgap) / 2);
	right: 0;
	top: 100%;
	left: 0;
	list-style: none;
	background-color: var(--color-6);
}

nav a {
	display: block;
	padding: calc(var(--hgap) / 2);
	text-align: center;
	color: var(--color-0);
	text-decoration: none;
	transition: background-color var(--transtime) var(--transition);
}

nav a:hover {
	color: var(--color-6);
	background-color: var(--color-1);
}

#menu_toggle:checked~ul { display: block }

#menu_toggle:checked~label rect:nth-child(1) { transform: scaleX(0) }
#menu_toggle:checked~label rect:nth-child(4) { transform: scaleX(0) }
#menu_toggle:checked~label rect:nth-child(2) { transform: rotate(45deg) }
#menu_toggle:checked~label rect:nth-child(3) { transform: rotate(-45deg) }

/* Hero image */

/* Sections */

section { margin-top: calc(4 * var(--vgap)) }

main h2,
section h2,
main h3,
section h3 { line-height: 1.25 }

main h2,
section h2 { color: var(--color-1) }

main h3,
section h3 { color: var(--color-2) }

main p,
section p,
section li,
section dt,
section dd { line-height: 1.5 }

main p,
section p,
section li,
section dd {
	font-weight: 300;
	color: var(--color-2);
}

section ul,
section dl {
	margin-top: var(--vgap);
	margin-bottom: var(--vgap);
}

section ul { padding-left: var(--hgap) }
section li::marker { color: var(--accnt-1) }

section dl {
	display: grid;
	grid-template-rows: minmax(min-content,max-content);
	align-items: baseline;
}

section dt {
	font-weight: 600;
	color: var(--color-3);
}

section dd+dt { margin-top: var(--vgap) }

@media screen and (min-width: 40rem)
{
	section dl {
		grid-template-columns: 1fr 2fr;
		grid-column-gap: var(--hgap);
	}
}

/* Main (intro) section */

main { margin-top: calc(2 * var(--vgap)) }

/* Über uns */

#uberuns-imgwrapper {
	max-height: calc(20 * var(--hgap));
	overflow: hidden;
}

#uberuns-img {
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

/* Map */

#anreise-map { height: 100vw }

/* Kontact */

form {
	display: grid;
	grid-auto-rows: minmax(min-content,max-content);
	gap: var(--hgap);
	margin-top: calc(2 * var(--vgap));
	margin-left: var(--hgap);
	margin-right: var(--hgap);
}

fieldset {
	margin-top: var(--vgap);
	padding: 0;
	border: 0;
}

label,
input,
textarea {
	display: block;
	width: 100%;
	line-height: 1.5;
}

input,
textarea {
	padding: var(--hgap) 0;
	border: 0;
	border-bottom: 1px solid var(--color-3);
	background-color: var(--color-6);
	appearance: none;
}

input:focus,
textarea:focus {
	border-bottom: 1px dashed var(--accnt-1);
	outline: 0;
}

input[type="date"]:invalid { border-bottom: 1px solid var(--accnt-2) }
#kontact_honey { display: none }
#kontact_fs_nachricht { resize: vertical }
#kontactform small { color: var(--color-3) }

#kontact_submit {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: calc(var(--hgap) / 4);
	padding: var(--vgap) calc(2 * var(--hgap));
	width: 100%;
	border: 0;
	font-family: var(--typeface);
	font-size: 1em;
	font-weight: bold;
	color: var(--color-6);
	background-color: var(--color-1);
	transition: background-color var(--transtime) var(--transition);
}

#kontact_submit:hover { background-color: var(--accnt-1) }
#kontact_submit:active { background-color: var(--color-3) }
#kontact_submit:focus { background-color: var(--color-2) }

#kontact_submit svg { vertical-align: middle }

#kontact_submit-sending svg {
	transform-origin: 50% 50%;
	animation: sending_spin 1.5s linear infinite forwards;
}

@keyframes sending_spin {
	0% {
		transform: rotate(0deg);
		stroke-dasharray: 25 25;
	}
	50% {
		transform: rotate(180deg);
		stroke-dasharray: 50 50;
	}
	100% {
		transform: rotate(360deg);
		stroke-dasharray: 25 25;
	}
}

label {
	position: relative;
	margin: 0;
	z-index: 1;
	line-height: 0;
	color: var(--color-3);
}

legend {
	margin: var(--hgap) 0 0;
	line-height: 1.5;
	color: var(--color-3);
}

@media screen and (min-width: 30rem)
{
	form { grid-template-columns: repeat(2, 1fr) }

	#kontact_fs_arrival,
	#kontact_fs_departure,
	#kontact_fs_phone,
	#kontact_fs_email,
	#kontact_fs_nachricht,
	#kontact_fs_submit,
	#kontact_fs_legend,
	#kontactform small { grid-column: 1/span 2 }
	
	#kontact_fs_adults { grid-column: 1/2 }
	#kontact_fs_kids { grid-column: 2/3 }

	#kontact_submit {
		width: auto;
		justify-content: flex-start;
	}
}

@media screen and (min-width: 40rem)
{
	#kontact_fs_phone { grid-column: 1/2 }
	#kontact_fs_email { grid-column: 2/3 }
}

@media screen and (min-width: 45rem)
{
	form { gap: var(--hgap) calc(2 * var(--hgap)) }
	#kontact_fs_arrival { grid-column: 1/2 }
	#kontact_fs_departure { grid-column: 2/3 }
}

/* Footer */

footer {
	flex-flow: column nowrap;
	margin-bottom: var(--vgap);
	border-top: 1px solid var(--color-4);
	text-align: center;
}

#footer_about {
	flex-flow: column nowrap;
	margin-top: var(--vgap);
	width: 100%;
}

#footer-logo { flex: 1 1 auto }
#footer-logo svg { margin: 0 auto }

#footer-info h4,
#footer-info address { margin: var(--vgap) 0 }

#footer-info p { margin: 0 }
#footer-info>p { color: var(--color-2) }
#footer-info address { font-style: normal }

#footer_contact a {
	display: block;
	font-weight: bold;
	line-height: 1.5;
	color: var(--color-1);
	text-decoration: none;
}

#footer_contact a:active,
#footer_contact a:focus,
#footer_contact a:hover { text-decoration: underline }

#footer_contact a:hover { color: var(--accnt-1) }

#footer_copyright { margin-top: calc(2 * var(--vgap)) }

#footer_copyright span,
#footer_copyright a {
	display: block;
	line-height: 1.5;
}

#footer_copyright span {
	font-size: .85em;
	color: var(--color-2);
}

#footer_copyright a {
	margin-top: var(--vgap);
	font-size: .75em;
	color: var(--color-3);
	text-decoration: none;
}

#footer_copyright a:hover {
	color: var(--color-2);
	text-decoration: underline;
}

@media screen and (min-width: 30rem)
{
	#footer_copyright a::before,
	#footer_copyright a::after { content: '\2014' }

	#footer_copyright a::before { margin-right: .25em }
	#footer_copyright a::after { margin-left: .25em }
}

@media screen and (min-width: 20rem)
{
	#footer-info { margin-top: calc(2 * var(--vgap)) }
}

@font-face{
	font-family:"karmina-sans";
	src:url("https://use.typekit.net/af/189cc4/00000000000000007735b1ef/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
		url("https://use.typekit.net/af/189cc4/00000000000000007735b1ef/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),
		url("https://use.typekit.net/af/189cc4/00000000000000007735b1ef/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-display:swap;
	font-style:normal;
	font-weight:400;
	font-stretch:normal
}
@font-face{
	font-family:"karmina-sans";
	src:url("https://use.typekit.net/af/370097/00000000000000007735b1f0/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),
		url("https://use.typekit.net/af/370097/00000000000000007735b1f0/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),
		url("https://use.typekit.net/af/370097/00000000000000007735b1f0/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
	font-display:swap;
	font-style:normal;
	font-weight:300;
	font-stretch:normal
}
@font-face{
	font-family:"karmina-sans";
	src:url("https://use.typekit.net/af/edf2dc/00000000000000007735b1f1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),
		url("https://use.typekit.net/af/edf2dc/00000000000000007735b1f1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),
		url("https://use.typekit.net/af/edf2dc/00000000000000007735b1f1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
	font-display:swap;
	font-style:normal;
	font-weight:700;
	font-stretch:normal
}
@font-face{
	font-family:"karmina-sans";
	src:url("https://use.typekit.net/af/c293d2/00000000000000007735b1f2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),
		url("https://use.typekit.net/af/c293d2/00000000000000007735b1f2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),
		url("https://use.typekit.net/af/c293d2/00000000000000007735b1f2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
	font-display:swap;
	font-style:italic;
	font-weight:400;
	font-stretch:normal
}
@font-face{
	font-family:"karmina-sans";
	src:url("https://use.typekit.net/af/cf4bec/00000000000000007735b1f3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),
		url("https://use.typekit.net/af/cf4bec/00000000000000007735b1f3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),
		url("https://use.typekit.net/af/cf4bec/00000000000000007735b1f3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
	font-display:swap;
	font-style:italic;
	font-weight:700;
	font-stretch:normal
}
@font-face{
	font-family:"karmina-sans";
	src:url("https://use.typekit.net/af/a35e17/00000000000000007735b1f4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),
		url("https://use.typekit.net/af/a35e17/00000000000000007735b1f4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),
		url("https://use.typekit.net/af/a35e17/00000000000000007735b1f4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
	font-display:swap;
	font-style:italic;
	font-weight:300;
	font-stretch:normal
}
@font-face{
	font-family:"karmina-sans";
	src:url("https://use.typekit.net/af/a15f19/00000000000000007735b1f5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),
		url("https://use.typekit.net/af/a15f19/00000000000000007735b1f5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),
		url("https://use.typekit.net/af/a15f19/00000000000000007735b1f5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
	font-display:swap;
	font-style:italic;
	font-weight:600;
	font-stretch:normal
}
@font-face{
	font-family:"karmina-sans";
	src:url("https://use.typekit.net/af/60bed5/00000000000000007735b1f6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),
		url("https://use.typekit.net/af/60bed5/00000000000000007735b1f6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),
		url("https://use.typekit.net/af/60bed5/00000000000000007735b1f6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
	font-display:swap;
	font-style:normal;
	font-weight:600;
	font-stretch:normal
}
@font-face{
	font-family:"karmina-sans";
	src:url("https://use.typekit.net/af/7dc220/00000000000000007735b1f7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),
		url("https://use.typekit.net/af/7dc220/00000000000000007735b1f7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),
		url("https://use.typekit.net/af/7dc220/00000000000000007735b1f7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
	font-display:swap;
	font-style:normal;
	font-weight:800;
	font-stretch:normal
}
@font-face{
	font-family:"karmina-sans";
	src:url("https://use.typekit.net/af/43390c/00000000000000007735b1f8/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),
		url("https://use.typekit.net/af/43390c/00000000000000007735b1f8/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),
		url("https://use.typekit.net/af/43390c/00000000000000007735b1f8/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
	font-display:swap;
	font-style:italic;
	font-weight:800;
	font-stretch:normal
}
