:root {
	--accnt-2: #a0112f;
	--accnt-1: #117da9;
	--color-6: #fcfdfd;
	--color-5: #f2f3f3;
	--color-4: #bdbebe;
	--color-3: #898989;
	--color-2: #545454;
	--color-1: #1f1f1f;
	--gap: 1rem;
	--transition: ease-in-out;
	--transtime: 300ms;
}

@media screen and (min-width: 640px)
{
	:root { --gap: 1.25rem }
}

@media screen and (min-width: 960px)
{
	:root { --gap: 1.5rem }
}
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}


[hidden] {
	display: none;
	visibility: hidden;
}

body {
	margin: 0;
	background-color: var(--color-6);
}

/* Header */

header {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	padding: calc(var(--gap) / 2);
	top: 0;
	z-index: 1;
	background-color: var(--color-6);
}

#header_logo {
	flex: 1 0 auto;
	margin: 0;
}

#header_logo a {
	display: block;
	line-height: 0;
}

#header_logo svg {
	display: block;
	height: 100%;
	max-height: calc(2 * var(--gap));
}

@media screen and (min-width: 320px)
{
	header { padding: var(--gap) }
}

/* Navigation */

#menu_toggle { display: none }

nav svg {
	width: 40px;
	height: 40px;
	color: var(--color3);
	transition: color var(--transtime) linear;
}

nav svg:hover { color: var(--accnt-1) }

nav rect {
	transition: transform var(--transtime) var(--transition);
	transform-origin: 50% 50%;
}

nav ul {
	position: absolute;
	display: none;
	flex-flow: column nowrap;
	align-items: center;
	margin: auto;
	padding: calc(var(--gap) / 2);
	right: 0;
	top: 100%;
	left: 0;
	list-style: none;
	background-color: var(--color-6);
}

nav a {
	display: block;
	padding: calc(var(--gap) / 2);
	color: var(--color-1);
	text-decoration: none;
	transition: background-color var(--transtime) var(--transition);
}

nav a:hover {
	color: var(--color-6);
	background-color: var(--accnt-1);
}

#menu_toggle:checked~ul { display: block }

#menu_toggle:checked~label rect:nth-child(1) { transform: scaleX(0) translateY(6px) }
#menu_toggle:checked~label rect:nth-child(4) { transform: scaleX(0) translateY(-6px) }
#menu_toggle:checked~label rect:nth-child(2) { transform: rotate(45deg) }
#menu_toggle:checked~label rect:nth-child(3) { transform: rotate(-45deg) }

/* Hero image */

#heropic-img { width: 100% }

/* About */

#about h2 { text-align: center }

#about h2::after {
	display: block;
	margin: var(--gap) auto;
	width: var(--gap);
	height: var(--gap);
	border-radius: 50%;
	content: '';
	background-color: var(--accnt-2);
}

/* Map */

#anreise-map { height: 100vw }

/* Kontact */

form {
	display: grid;
	gap: var(--gap);
}

fieldset {
	padding: 0;
	border: 0;
}

label,
input,
textarea {
	display: block;
	width: 100%;
	line-height: 1.5;
}

input,
textarea {
	padding: var(--gap) 0;
	border: 0;
	border-bottom: 1px solid var(--color-3);
	background-color: var(--color-6);
	appearance: none;
}

input:focus,
textarea:focus {
	border-bottom: 1px dashed var(--accnt-1);
	outline: 0;
}

input[type="date"]:invalid {}

#kontact_honey { display: none }
#kontact_fs_nachricht { resize: vertical }

#kontact_submit {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: calc(var(--gap) / 4);
	margin-top: var(--gap);
	padding: var(--gap) calc(2 * var(--gap));
	border: 0;
	font-size: 1em;
	font-weight: bold;
	color: var(--color-6);
	background-color: var(--color-1);
	transition: background-color var(--transtime) var(--transition);
}

#kontact_submit:hover { background-color: var(--accnt-1) }
#kontact_submit:active { background-color: var(--color-3) }
#kontact_submit:focus { background-color: var(--color-2) }

#kontact_submit-sending svg {
	transform-origin: 50% 50%;
	animation: sending_spin 1.5s linear infinite forwards;
}

@keyframes sending_spin {
	0% {
		transform: rotate(0deg);
		stroke-dasharray: 25 25;
	}
	50% {
		transform: rotate(180deg);
		stroke-dasharray: 50 50;
	}
	100% {
		transform: rotate(360deg);
		stroke-dasharray: 25 25;
	}
}

label {
	margin: 0;
	line-height: 0;
	color: var(--color-3);
}

legend {
	margin: var(--gap) 0 0;
	line-height: 1.5;
	color: var(--color-3);
}

@media screen and (min-width: 480px)
{
	form { grid-columns: repeat(2, 1fr) }

	#kontact_fs_arrival,
	#kontact_fs_departure,
	#kontact_fs_phone,
	#kontact_fs_email,
	#kontact_fs_nachricht,
	#kontact_fs_submit,
	#kontact_fs_legend { grid-column: 1/span 2 }
	
	#kontact_fs_adults { grid-column: 1/2 }
	#kontact_fs_kids { grid-column: 2/3 }
}

@media screen and (min-width: 640px)
{
	#kontact_fs_phone { grid-column: 1/2 }
	#kontact_fs_email { grid-column: 2/3 }
}

@media screen and (min-width: 768px)
{
	form { gap: var(--gap) calc(2 * var(--gap)) }
	#kontact_fs_arrival { grid-column: 1/2 }
	#kontact_fs_departure { grid-column: 2/3 }
}
